/* Regular */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


/*global*/
Body {
  font-family: "Roboto", sans-serif;
}
p {
  line-height: 2;
}
a {
  text-decoration: none;
}

/*body*/
header.site-init {
  background-image: url('../img/header.jpg');
  background-size: cover;
  width: 100%;
  height: 320px;
  color: white;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1.main-title {
  margin: 0;
  line-height: 1;
}

.header-container p {
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 5px
}
.menu a:hover {
  text-decoration: underline;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.houses-items {
  display: flex;
  gap: 20px
}

.houses-item-txt {
  padding: 20px;
}

.price {
  color: green;
  font-weight: bold;
}

.icon-container {
  display: flex;
}

.icon-container img {
  margin-right: 20px;
}

.icons-list {
  display: flex;
  justify-content: space-between;
}

.btn-see-details {
  display: flex;
  background: orange;
  justify-content: center;
  color: white;
  padding: 10px;
  font-size: 20px;
}


.house-box-1 {
  border: 1px solid grey;
  flex: 1;
  width: 33%;
  background: #dedede;
}

.house-box-1  img {
  width: 100%;
}

.houses-and-pent-title {
  padding: 0;
  margin: 0;
}

.houses-container h3 {
  font-size: 29px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
}

.houses-container h2 {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.house-box-1 p {
  margin: 0;
  padding: 0;
}

.houses-container ul {
  margin-top: 0;
}



/*contact*/
.contact-header {
  background-color: orange;
  height:150px;
  color: black;
}

.contact-header a {
  color: black;
}

.contact-header-container {
  width: 80%;
  margin: 0 auto;
}

.bar-menu {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.main-contact-container-h1,
.main-contact-container-h2,
.main-contact-container-p {
  text-align: center;
}
.main-contact-container {
  margin-right: 200px;
  margin-left: 200px;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #dedede;
  padding: 20px;
  border-radius: 10px;
}

legend{
  font-size: 16px;
}

fieldset{
 border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
}

.form-control {
  margin-bottom: 20px;
}

.form-control input,
.form-control textarea {
  border: none;
  width: 70%;
  padding: 5px;
  border-radius: 3px;
}

.form-control label {
  display: inline-block;
  width: 150px;
}

.contact-footer-class {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.zill,
.priv {
  font-weight: bold;
  text-decoration: underline;
}
.icons {
  font-weight: bold;
}
